# Binaries
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Go
bin/
vendor/
.env

# Docker
docker-compose.override.yaml

# Build outputs
*.test
coverage.out

# IDE files
*.iml
coverage*.out
k8s/local/terraform/.terraform/
k8s/local/terraform/terraform.tfstate*
k8s/local/terraform/.terraform.lock.hcl
k8s/local/terraform/videostreamingplatform-config
k8s/aws/terraform/.terraform/
k8s/aws/terraform/terraform.tfstate*
k8s/aws/terraform/.terraform.lock.hcl
k8s/aws/terraform/tfplan
k8s/aws/terraform/tfplan2
kubectl
